/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* -------- GENERAL STYLES -------- */


*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    background-color: #f5f5f5;  /* white smoke */
    font-size: 16px;
}

body  {
    background-color: #FFF;
    /*border: 1px solid #a9a9a9;*/
    border: 1px solid #5d6063;
    border-radius: 5px;
    color: #5D6063;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin: 30px;
    text-align: center;
}

ul  {
    list-style-type: none;
}

a {
    color: #5D6063;
    text-decoration: none;
}

h1, h2, p, a  {
    line-height: 1.3em;
    text-align: center;
}


/* -------- NAV -------- */


.menu-container {
    display: flex;
    justify-content: center;
}

.link {
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    padding: 0.5em;
    width: 25%;
}

.room103-portal {
    display: flex;
    justify-content: center;
    padding: inherit;
}

.room103-portal p, .room103-portal a  {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
}

.room103-portal a:hover {
    transform: scale(1.1);
}


/* -------- HEADER -------- */


.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.header {
    width: 100%;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
}

header h1  {
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    font-family: 'Titillium Web', sans-serif;
    font-size: 4em;
    /*padding-top: 2em;
    padding-bottom: 2.3em;*/
    padding-top: 3em;
    padding-bottom: 3.3em;
}

.header h1 span {
    /*color: #ADD0EF;  original Valentine */
    /*color: rgb(158, 231, 245);*/
    /*color: #689f38; 4-leaf */
    /*color: #7eb2b1; April */
    /*color: #f598a8; May/day-four */
    color: #ff007f;
    font-size: 1.5em;
}

.tagline  {
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    width: 100%;
    text-align: center;
}

.tagline p  {
    /*color: #9AA297; original */
    color: #b9bbbd;
    font-size: 1.3em;
}


/* -------- MAIN SECTION -------- */


.week-grid-container  {
    display: flex;
    justify-content: center;
}

.week-grid-container a:hover  {
    background-color: #5D6063;
}

.day-grid {
    width: 900px;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
    /*padding-top: 9em;
    padding-bottom: 9em;*/
    padding-top: 3em;
    padding-bottom: 3em;
}

.day-grid-item  {
    border: 5px solid #FFF;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
    opacity: 3;
}

.day-grid-item h2, p  {
    color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/*.highlight {
    color: #222;
}*/

/* Backgrounds, in order: original Valentine; spring; 4-leaf */

.first-item {
    order: 0;
    /*background-color: #FF97CC;*/
    /*background-color: rgb(243, 168, 188);*/
    /*background-color: #689f38; 4-leaf */
    /*background-color: #52555c; April */
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

.day-two  {
    /*background-color: #FFB3C9;*/
    /*background-color: rgb(245, 173, 148);*/
    /*background-color: #8bc34a; 4-leaf */
    /*background-color: #576c78; April */
    background: linear-gradient(90deg, #cfecd0, #ffc5ca);
}

.day-three  {
    /*background-color: #FAD0D7;*/
    /*background-color: rgb(255, 241, 166);*/
    /*background-color: #aed581; 4-leaf */
    /*background-color: #8998a0; April */
    background: linear-gradient(90deg, #f598a8, #f6edb2);
}

.day-four {
    /*background-color: #FCF4F8;*/
    /*background-color: rgb(180, 249, 165);*/
    /*background-color: #f1f8e9; 4-leaf */
    /*background-color: #dde1e4; April */
    background: linear-gradient(90deg, #ee5c87, #f1a4b5, #d587b3);
}

.last-item  {
    order: 4;
    /*background-color: #ADD0EF;*/
    /*background-color: rgb(158, 231, 245);*/
    /*background-color: #ffa500; 4-leaf */
    /*background-color: #7eb2b1; April */
    background: linear-gradient(90deg, #b9deed, #efefef);
}

/*.last-item  {
    background-color: #9AA297;
}

.last-item p  {
    color: #FFF;
}*/


/* -------- FOOTER -------- */


.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
}

.footer-grid  {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    /*background-color: #9AA297; original */
    /*background-color: #f5f5f5;   white smoke */
    /*background-color: #b9bbbd;*/
    border: 1px solid #5d6063;
    border-radius: 10px;
    margin: 1em;
}

.footer-grid p  {
    font-size: 1.3em;
    /*color: #FFF; original */
    /*color: #9AA297;*/
    color: #5d6063;
}

.footer-grid a  {
    color: #FFF;
}

.footer-grid:hover  {
    transform: scale(1.1);
}

.copyright  {
    /*color: #9AA297;*/
    color: #b9bbbd;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 319px) {

    body  {
        font-size: 0.9em;
        margin: 5px;
    }

    header h1 {
        font-size: 2em;
    }

    .tagline p  {
        font-size: 1em;
    }

    .day-grid-item  {
        width: 225px;
        height: 225px;
    }

    .footer-grid  {
        width: 215px;
        height: 85px;
    }

    .footer-grid p  {
        font-size: 1em;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px)  {

    body  {
        margin: 10px;
    }

    header h1 {
        font-size: 2.3em;
        /*padding-top: 2em;
        padding-bottom: 2.3em;*/
    }

    .tagline p  {
        font-size: 1.1em;
    }

    .day-grid-item  {
        width: 270px;
        height: 270px;
    }

    .footer-grid  {
        width: 265px;
        height: 80px;
    }

    .footer-grid p  {
        font-size: 1.1em;
        /*color: #FFF;*/
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px)  {

    header h1 {
        padding-top: 2em;
        padding-bottom: 2.3em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){

    header h1 {
        font-size: 5em;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
    }

    .footer-grid  {
        width: 350px;
    }
}

@media only screen and (min-width: 1024px)  {

    header h1 {
        font-size: 6em;
        padding-top: 1.5em;
        padding-bottom: 1.7em;
    }

    .footer-grid  {
        width: 400px;
    }
}

@media only screen and (min-width: 1200px)  {

    header h1 {
        font-size: 7em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .footer-grid  {
        width: 400px;
    }
}


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
